<mat-card>
  <mat-card-header>
    <mat-card-title>Test your password strength</mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <form class="margin">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter your password</mat-label>

        <input [formControl]="password" matInput [type]="hide ? 'password' : 'text'" (blur)="onBlur()">

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="password.hasError('minlength')">
          You have less than 8 characters
        </mat-error>
      </mat-form-field>
    </form>

    <div class="indicators">
      <span [style.background-color]="indicator.easy"></span>
      <span [style.background-color]="indicator.medium"></span>
      <span [style.background-color]="indicator.strong"></span>
    </div>
  </mat-card-content>
</mat-card>
