.margin {
  margin-bottom: 5px;
}

.full-width {
  width: 100%;
}

.mat-mdc-card-header,
.mat-mdc-card-content {
  padding: 16px;
}

.indicators {
  display: flex;
  justify-content: space-between;

  span {
    height: 10px;
    width: 100%;

    margin-right: 10px;

    border-radius: 5px;
    background-color: lightgray;

    transition: 0.3s;

    &:last-child {
      margin-right: 0;
    }
  }
}

